<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>fresh</title>
      <link rel="stylesheet" href="~/Content/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="~/Content/homestyle.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="~/Content/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.min.css">
   </head>
   <!-- body -->
   <body class="main-layout">
       <section class="banner_main">
           <div class="container" style="width:1000px; height: 568px;">
               <div class="row">
                   <div class="col-md-3">
                       <div class="test_box">
                           <div class="text-bg">
                               @*<h2>The Ocean 水族</h2>*@
                               <img style="height: 100px; text-align: left;" src="~/Images/tankpic2.png" />
                               <br /><br />
                               <h3><b>海水設備整套的設計,讓老手省事,讓新手快速進入海水的世界,在家也能擁有自己的一片海。專業人員為您搭配適合缸子大小的專業設備,只需要您提供給我們您希望的缸子大小。</b></h3>
                               <br />
                               <a class="read_more" href="~/home/set">點我看更多</a>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-9">
                       <img style="height:750px; width: 720px" src="~/Images/pic1fhome.png" />
                   </div>
               </div>
           </div>
       </section>

              <div class="about">
           <div class="container">
               <div class="row d_flex">
                   <div class="col-md-7">
                       <div class="about_img">
                           <figure><img src="~/Images/skimmerforhp1.png" alt="#" /></figure>
                       </div>
                   </div>
                   <div class="col-md-5">
                       <div class="titlepage">
                           <h2>蛋白機&nbsp<small>Skimmer</small></h2>
                           <p>因為海水的成份遠比淡水複雜，加上海水魚、軟體與珊瑚本身又會分泌各種黏膜、黏液，這些主成分是蛋白質、胺基酸的有機物，要是放著不管它，就會製造出大量的氮(NO2)、硝酸鹽(NO3)跟銨(NH4)等物質，嚴重汙染水質。海水是非常複雜的水溶液，比重也跟淡水不一樣，這時只要水中含有上述的那些蛋白質，就能用水花打出一堆氣泡。 蛋白機就是利用這個原理，依靠馬達打出大量綿密的泡泡，靠泡泡的表面張力吸附住雜質，然後我們只要收集這些堆疊出來的泡泡，就能把髒東西從魚缸中分離出來了！</p>
                           <a class="read_more" href="~/home/skimmer">點我看更多</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>

       <div class="about">
           <div class="container">
               <div class="row d_flex">
                   <div class="col-md-5">
                       <div class="titlepage" style="text-align: left;">
                           <h2>燈具&nbsp<small>Reef Light</small></h2>
                           <p>LPS或是SPS適合的燈具各有不同,操作容易度也不同,選擇一個適合自己的缸子大小、控制方式,又要兼顧把珊瑚養好。直接從最基本的專業海水燈具開始入手吧!</p>
                           <a class="read_more" href="~/home/reeflight">點我看更多</a>
                       </div>
                   </div>
                   <div class="col-md-7">
                       <div class="about_img">
                           <figure><img src="~/Images/reeflightd.png" alt="#" /></figure>
                       </div>
                   </div>
               </div>
           </div>
       </div>

       <div class="about">
           <div class="container">
               <div class="row d_flex">
                   <div class="col-md-7">
                       <div class="about_img">
                           <figure><img src="~/Images/potion.png" alt="#" /></figure>
                       </div>
                   </div>
                   <div class="col-md-5">
                       <div class="titlepage">
                           <h2>其他&nbsp<small>Other</small></h2>
                           <p>珊瑚不但依靠共生藻類提供養份，同時還要不斷地濾食動物性浮游生物以維持生命。但是我們人工環境下海水缸內的動物性浮游生物卻少得可憐，單靠共生藻類行光合作用提供的營養成分或許滿足不了它們生長的需要，倘若海水缸中的軟體基本上均處於飢餓或半飢餓狀態，那麼時間一長（即使各相關指標均符合要求）仍會出現珊瑚莫明其妙的萎縮甚至於死亡（不排除因飢餓至死）的問題。適時地補充海水元素能更有效處進珊瑚的生長。
                               <a class="read_more" href="~/home/others">點我看更多</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>


   </body>
</html>

